@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Movie Tracker </h1>
    <p>By: <a href="https://github.com/RJ-Mattson">RJ Mattson</a> </p>
</div>
